<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HtmlHiddenFieldAndUrlRewriting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>login.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nextServlet</display-name>
    <servlet-name>nextServlet</servlet-name>
    <servlet-class>login.nextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nextServlet</servlet-name>
    <url-pattern>/nextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlrewriting</display-name>
    <servlet-name>urlrewriting</servlet-name>
    <servlet-class>urlrewriting.urlrewriting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlrewriting</servlet-name>
    <url-pattern>/urlrewriting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nextservlet</display-name>
    <servlet-name>nextservlet</servlet-name>
    <servlet-class>urlrewriting.nextservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nextservlet</servlet-name>
    <url-pattern>/nextservlet</url-pattern>
  </servlet-mapping>
</web-app>